.titulo{
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: .8em 0;
}

.lista{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    flex-wrap: wrap;

    list-style: none;
}

.lista__palavras{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin: 0.5rem;
}

.container{
    padding-top: 0.5rem;
    display: flex;
    background-color: white;
    color: black;
    width: 900px;
    height: 700px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 10px 10px black;
}

.descricao{
    color: red;
    font-size:12px;
    font-weight: bold;
    margin: .8em 0;
}

.remover{
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background-color: rgb(53, 3, 3);
    border: 1px solid black;
}

.remover:hover{
    background: yellow;
    color: black;
    transition: 1s;
    cursor: pointer;
}

.remover:active{
    color: yellow;
    transition: 100ms;
}